@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html, body {
  font-family: 'Rubik', sans-serif !important;
  margin: auto;
  min-width: 100%;
}

.title {
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
}

.welcome {
  text-align: center;
}

.container { padding: 1em; }

.step1 { border-right: 1px solid #333; }
.step1 h4 { padding-bottom: 3em; }

.step2 { border-right: 1px solid #333; }
.step2 h4, .step3 h4 { padding-bottom: 2em; }

.welcome-divider-or {
  font-weight: bold;
  padding: 1em;
}

.welcome-help {
  padding: 10px;
}

.welcome-action-btns {
  padding: 2em;
}
