@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html, body {
  font-family: 'Rubik', sans-serif !important;
  margin: auto;
  min-width: 100%;
}

.table {
  text-align: center;
}

.title {
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
}

.container { padding: 1em; }

.step1 { border-right: 1px solid #333; }
.step1 h4 { padding-bottom: 3em; }

.step2 { border-right: 1px solid #333; }
.step2 h4, .step3 h4 { padding-bottom: 2em; }

.welcome-divider-or {
  font-weight: bold;
  padding: 1em;
}

.welcome-help {
  padding: 10px;
}

.welcome-action-btns {
  padding: 2em;
}

.default-upload-btn {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.result-content {
  width: 75vw;
  padding-left: 1vw;
}

.top-level {
  display: flex;
  padding: 1vw;
  width: 100vw;
  vertical-align: baseline;
}

.restart-btn-section, .export-btn-section {
  width: 50vw;
}

.middle-action-btn-section {
  width: 100vw;
  display: flex;
  align-content: center;
}

.restart-btn {
  float: left;
}

.middle-action-btn-section .btn-undo {
  width: 50vw;
  text-align: right;
  padding-right: 2vw;
}

.middle-action-btn-section .btn-redo {
  width: 50vw;
  text-align: left;
  padding-left: 2vw;
}

.export-btn {
  float: right;
}

.site-body {
  display: flex;
  padding: 1vw;
}

.key-box {
  padding: 0.5vw;
  margin-bottom: 0.5vw;
  width: 25vw;
  border: black 1px solid;
}

.repairs-applied-box {
  padding: 0.5vw;
  margin-top: 0.5vw;
  width: 25vw;
  border: black 1px solid;
}

.dirty-color-line {
  height: 1.5vw;
  background-image: linear-gradient(to right, #ffe5e5, #ff0000);
}

.dirty-color-line-labels {
  display: flex;
}

.dirty-color-line-labels .less {
  width: 12vw;
  text-align: left;
}

.dirty-color-line-labels .more {
  width: 12vw;
  text-align: right;
}

.data-cell {
  position: relative;
}

.dirtiness-circle {
   position: absolute;
   top: 0;
   right: 0;
}

/*.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}*/
