.DS_Store
duo-server/vc-venv/
CMakeCache.txt
CMakeFiles/
cmake*
Make*
make*
duo-server/xplode/CTane*
duo-server/xplode/.*
duo-server/data/cfddiscovery/CFDD*
duo-server/data/cfddiscovery/.*
ALL*
ZERO*
duo-server/store/
*.pyc
__pycache__/