.DS_Store
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Make*
make*
ALL*
ZERO*
*.pyc
__pycache__/
duo-server/xplode/CTane*
duo-server/xplode/.*
duo-server/data/cfddiscovery/CFDD*
duo-server/data/cfddiscovery/.*
duo-server/store/
duo-server/venv/