aniso8601==7.0.0
certifi==2019.6.16
Click==7.0
coverage==4.5.4
Django==2.2.4
django-extensions==2.2.1
django-mysql==3.2.0
djangorestframework==3.10.2
Flask==1.1.1
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pipenv==2018.11.26
python-memcached==1.59
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
tqdm==4.33.0
virtualenv==16.7.2
virtualenv-clone==0.5.3
Werkzeug==0.15.5
