.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-section {
  padding: 1vw;
}

.content-centered {
  text-align: center;
  justify-content: center;
  padding: 1vw;
}
.content-centered.title { font-weight: bold; }

.top-level {
  padding: 1vw;
}

.dirty-color-line {
  height: 1.5vw;
  background-image: linear-gradient(to right, #ffe5e5, #ff0000);
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn-round {
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Rubik Medium', sans-serif;
}
.btn-round.left {
  margin-right: 0.5vw;
}
.btn-round.right {
  margin-left: 0.5vw;
}
.filename-area {
  font-family: 'Rubik', sans-serif;
  text-align: left;
}

.home {
  background-image: url('../images/columbia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: auto;
}

.home-header {
  background-color: #fff;
  border-color: #000;
  border-radius: 50px;
  border-width: 10px;
  width: 25em;
  padding-top: 0.5vw;
}

.home-title {
  font-size: 2em;
  font-family: 'Rubik Medium', sans-serif;
  color: #d73f09;
}
.home-subtitle {
  font-size: 1.25em;
  font-family: 'Rubik', sans-serif;
}
.default-file-upload {
  display: none;
}
