{% load static %}

<!DOCTYPE html>

<html>
<head>
  <title>VarClean</title>
  <link rel="stylesheet" type="text/css" href="{% static 'datacleaner/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'datacleaner/css/bootstrap.css' %}">
  <script type="text/javascript" src="{% static 'datacleaner/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <div class="header" id="header">
    <h1 class="title">VarClean</h1>
    <div class="dropdown-divider"></div>
  </div>
  <div align="center">
    <form enctype="multipart/form-data" action="{% url 'datacleaner:results' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <h4><u>Upload Data</u></h4>
        <h6><i>* Only CSV files are supported at this time</i></h6>
        <input type="file" name="data" accept=".csv" id="dataUploadBtn"/>
        <!--<label for="dataUploadBtn" class="btn btn-info">Choose a file</label>-->
      </div>
      <div class="welcome-action-btns">
        <button type="submit" class="btn btn-primary" id="findRepairsBtn">Find Repairs</button>
      </div>
    </form>
  </div>
</body>
</html>
